<div *ngIf="tasks.length < 1" class="alert alert-info text-center col-md-12" role="alert">
  Backlog empty
  <a style="cursor: pointer;" (click)="addTask()" class="alert-link">
    add a task</a>
  to the list!
</div>

<div class="col-md-4" *ngFor="let task of tasks">
  <div class="card">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      <a>{{ task.title }}</a>
      <button (click)="deleteTask(task.id)" class="btn btn-danger btn-sm">
        <i class="zmdi zmdi-delete zmdi-hc-lg"></i> Delete
      </button>
    </div>

    <div class="card-body">
      <h3 id="assignment">{{ task.assignment }}</h3>
      <h5 id="points">{{ task.points }} points</h5>
      <h5 id="description">{{ task.description }}</h5>
      <h4 id="createdAt">
        {{ task.createdAt | date: "dd-MM-yyyy hh:mm" }}
      </h4>
      <h5 id="completed">{{task.completed ? 'Completed' : 'Incomplete'}}</h5>
    </div>
    <div class="card-footer">
      <button (click)="editTask(task.id)" class="btn btn-info btn-block">
        <i class="zmdi zmdi-edit zmdi-hc-lg"></i> Edit
      </button>
    </div>

    <input type="hidden" id="idHidden" value="{{task.id}}">
    <input type="hidden" id="dateHidden" value="{{task.createdAt}}">
  </div>
</div>
